<div class="container my-4">
  <h1>Edit your task</h1>
  <p>Fill in the form :</p>

  <div class="">
    <%= form_for(@task) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <%= f.label :details %>
        <%= f.text_field :details %>
      </div>

      <div class="form-group">
        <%= f.check_box :completed %>
        <%= f.label :completed %>
      </div>

      <%= f.submit class: 'btn btn-primary' %>
      <% end %>

  </div>



</div>
