<div class="container my-4">
  <div class="row">
    <div class="col-6">
      <h1><%= @task.title %></h1>
      <p><%= @task.details %></p>
    </div>

    <div class="col-6">
      <%= link_to 'Edit this task', edit_path(@task), class: 'btn btn-primary'%>
    </div>

  </div>

  <div>
    <p><%= link_to 'Go back to your ToDo', tasks_path  %></p>
  </div>

  <div>
    <i class="fas fa-plus mt-4 pr-2" style="color: #007bff; font-size:13px"></i><%= link_to 'Create a new task', tasks_new_path  %>
  </div>

  <div class="">
    <i class="fas fa-undo pr-2" style="color: #007bff; font-size:13px"></i><%= link_to 'Go back to your ToDo', tasks_path  %>
  </div>

</div>
